#!/usr/bin/make -f

export DEB_BUILD_MAINT_OPTIONS = hardening=+all

include /usr/share/dpkg/default.mk

%:
	dh $@ --with dkms

override_dh_auto_build:
	$(MAKE) -C library

override_dh_auto_install:
	mkdir -p $(CURDIR)/debian/tmp/usr/lib/$(DEB_HOST_MULTIARCH)
	install -m 644 library/libevdi.so $(CURDIR)/debian/tmp/usr/lib/$(DEB_HOST_MULTIARCH)/libevdi.so.0
	ln -s /usr/lib/$(DEB_HOST_MULTIARCH)/libevdi.so.0 $(CURDIR)/debian/tmp/usr/lib/$(DEB_HOST_MULTIARCH)/libevdi.so
	mkdir -p $(CURDIR)/debian/tmp/usr/src/evdi-$(DEB_VERSION_UPSTREAM)
	install -m 644 module/* $(CURDIR)/debian/tmp/usr/src/evdi-$(DEB_VERSION_UPSTREAM)/
	rm $(CURDIR)/debian/tmp/usr/src/evdi-$(DEB_VERSION_UPSTREAM)/LICENSE

override_dh_dkms:
	dh_dkms -V $(DEB_VERSION_UPSTREAM)
